h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;  
}

div.fotoPerfil{
    text-align: center;
}

div.fotoPerfil img{
    background-color: aquamarine;
    padding: 2px;
    width: 33%;
}

li,ul{
    text-decoration: none;
    text-decoration-style: none;
}

::marker {
    font-size: 0.0em;
    margin: 0;
    padding: 0;
  }

.experienciaLaboral h4{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

li{
    margin-left: 1.5rem;
}